.cart_page_container {
  min-height: 1068px;
  background-color: #EAEDED;
}
.main_page_body {
  display: inline-flex;
  padding: 25px;
}

#ad_banner_body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  top: 50px;
  left: 60px;
  max-width: 950px;
}

#left_cart_col_container {
  margin-top: 50px;
  width: 100%;
  padding: 25px;
}

.cart_item_container {
  display: flex;
  border: 1px #D5D9D9 solid;
  padding: 25px;
}

.cart_left_container {
  border: 1px #D5D9D9 solid;
  border-radius: 10px;
  background-color: white;
  min-width: 968px;
}

.cart_item_image {
  width: 200px;
}

.cart_right_column {
  margin-left: 20px;
  padding: 50px;
  background-color: white;
}

#cart_item_user_options {
  display: inline-flex;
}

.cart_item_option {
  padding-right: 10px;
  padding-left: 10px;
}

#checkout_proceed_bttn {
  background: #FFD814;
  display: block;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 26px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  padding-top: 6px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(113, 112, 112, 0.5);
  cursor: pointer;
  text-align: center;
}

#checkout_proceed_bttn:hover {
  background: #F7CA00;
  border-color: #F2C200;
}

#cart_item_delete_bttn {
  cursor: pointer;
}

#cart_item_delete_bttn:hover {
  color: #F2C200;
}

#order_link_a {
  text-decoration: none;
}

#view_order_link {
  background: #FFD814;
  display: block;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 26px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  padding-top: 6px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(113, 112, 112, 0.5);
  cursor: pointer;
  text-align: center;
}

#view_order_link:hover {
  background: #F7CA00;
  border-color: #F2C200;
}

.page_lower_container {
  min-height: 768px;
  /* max-width: 1020px; */
  position: relative;
  bottom: 200px;
  background-color: white;
}
