#navbar {
  display: flex;
  position: static;
  float: none;
  width: 100%;
  margin: 0px auto;
}

.nav_container {
  margin: 0 auto;
  width: 100%;
  background-color: #232f3e;
}

#nav_row_top {
  height: 60px;
  margin: 0;
  padding-left: 11px;
  width: 100%;
  color: white;
  background-color: #131921;
  font-size: 14px;
}

#nav_row_bottom {
  min-height: 39px;
  max-height: 39px;
  margin: 0;
  padding-top: 0;
  padding-left: 11px;
  color: white;
  background-color: #232f3e;
  width: 100%;
}
