#navbar {
  display: flex;
  position: static;
  float: none;
  width: 100%;
  margin: 0px auto;
}

.nav_container {

  margin: 0 auto;
  width: 100%;
  background-color: #232f3e;
}

#nav_row_top {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-height: 60px;
  margin: 0;
  padding-left: 11px;
  padding-right: 11px;
  width: 100%;
  color: white;
  background-color: #131921;
  font-size: 16px;
}

.navlink_nav_item {
  text-decoration: none;
  color: white;
}

#nom_nav_logo {
  padding-left: 15px;
  padding-right: 35px;
}

#nav_user_location{
  padding: 25px;
}

.nav_top_left {
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
}

#nav_row_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 39px;
  max-height: 39px;
  margin: 0;
  padding-top: 0;
  /* padding-left: 11px; */
  color: white;
  background-color: #232f3e;
  /* width: 100%; */
}

.nav_search_center {
  /*
  flex-direction: row;
  box-sizing: border-box;
  width: auto;
  white-space: nowrap; */
  flex-grow: 1;
  padding-right: 8px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

#nav_search_form {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 387px;
  display: flex;
  flex-wrap: nowrap;
  height: 40px;
  margin: 0 10px;
}

#nav_search_filter_drop_select {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /*
  float: none;
  height: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: black;
  background-color: #f3f3f3;
  background-image: none;
  border: 1px solid #cdcdcd; */
  text-align: center;
  font-size: 12px;
  height: 40px;
  width: 52px;
  padding-bottom: 4px;
  padding-right: 2px;
  color: #555555;
  background-color: #f3f3f3;
  border: 0;
  border-right: 1px solid #cdcdcd;
  border-radius: 4px 0 0 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.nav_search_field_bar {
  display: inline-block;
  /* max-width: 1068px; */
  min-width: 668px;
  width: 100%;
  /* padding: 10px; */
  flex-grow: 1;
}

.nav_input {
  color: #111;
  font-size: 15px;
  height: 26px;
  width: 100%;
  padding: 7px 10px;
  border: 0;
}

.nav_input:focus {
  position: relative;
  bottom: 3px;
  padding: 5px 19px;
  border: 5px solid #febd69;
  z-index: 120;
  box-shadow: 0 980px 50px 1000px rgba(0, 0, 0, 0.738);
}

.search_result_body {
  z-index: 122;
  background: white;
  color: black;
  position: relative;
  overflow-y: visible;
  border: 2px solid lightgrey;
}

.search_result_list {
  z-index: 100;
  position: relative;
  background: white;
  color: black;
  opacity: 1;
  overflow-y: visible;
  list-style: none;
  font-size: 17px;
  bottom: 10px;
  line-height: 40px;
}

.search_result_li:hover {
  cursor: pointer;
  background: rgba(211, 211, 211, 0.785);
  color: #eca140;
}

.search_bttn {
  background-color: #febd69;
  height: 100%;
  width: 45px;
  padding-bottom: 0;
  margin: 0 12px 0px 0px;
  border: none;
  border-radius: 0 4px 4px 0;
  font-size: 14px;
  z-index: 121;
}

.nav_top_right {
  display: inline-flex;
}

.nav_top_right_profile, .nav_top_right_orders, .nav_top_right_cart, #region_flag_icon {
  padding: 25px;
}

.subnav_category {
  margin-left: 25px;
  margin-right: 25px;
  position: static;
}

#nav_all_burger {
  position: relative;
  top: 3px;
  padding-right: 3px;
}

.filter_link {
  text-decoration: none;
  color: white;
  /* border: 1px solid #232f3e; */
  padding: 5px;
}

.filter_link:hover {
  border: 1px solid white;
  padding: 5px;
}

#nav_search_filter_drop_select {
  width: 52px;
  height: 36px;
  border-right: 1px solid lightgrey;
  text-align: center;
}

.profile_dropdown_menu {
  background: white;
  width: 100px;
  height: 100px;
  z-index: 130;
  position: absolute;
  border: 2px solid lightgrey;
  border-radius: 5px;
}

#logout_a {
  text-decoration: none;
  padding: 10px;
}

.subnav_jd_github_a {
  text-decoration: none;
  color: white;
}

.subnav_jd_github_a:hover {
  color: #febd69;
}

.fab fa-github{
  color: white;
}
