#product_page_content_container {

}
#ppd_top_section {
  display: flex;
  margin: 0 auto;

  padding: 50px 50px 10px 10px;
  min-width: 968px;
  max-width: 1468px;
  min-height: 968px;
}

#ppd_left_box, #ppd_center_column, #ppd_right_box {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

#ppd_right_box {
  border: 1px solid lightgrey;
  border-radius: 8px;
  min-width: 200px;
}

.ppd_title_sub_box {
  padding-bottom: 40px;
  border-bottom: 1px solid lightgrey;
}

.ppd_price_sub_box {
  border-bottom: 1px solid lightgrey;
}

.ppd_desc_sub_box {
  padding: 10px;
  border-top: 1px solid lightgrey;
}

/* .ppd_desc_sub_box::before {
  border-top: 1px solid lightgrey;
} */

#bttn-cartadd {
  width: 200px;
}

#all_reviews_div {
  display: flex;
}

#all_reviews_div > p {
  margin-right: 11px;
}

#ppd_bottom_section {
  border-top: 1px solid lightgrey;
  display: flex;
  margin: 0 auto;
  position: relative;
  left: 200px;
  margin-bottom: 200px;
}

#ppd_reviews_box {
  /* border: 1px solid lightgrey;
  border-radius: 8px; */
  padding: 25px;
}

#buy_bttn{
  display: block;
  position: relative;
  overflow: hidden;
  width: 206px;
  height: 29px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
  border: none;
  background: #FFA41C;
  border-radius: 19px;
  box-shadow: 0 2px 5px 0 rgba(113, 112, 112, 0.5);
  cursor: pointer;
  text-align: center;
}

#bttn-cartadd {
  display: block;
  position: relative;
  overflow: hidden;
  width: 206px;
  height: 29px;
  margin-top: 10px;
  background-image: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  /* border: 1px solid #FF8F00; */
  border: none;
  border-radius: 19px;
  box-shadow: 0 2px 5px 0 rgba(113, 112, 112, 0.5);
  cursor: pointer;
  text-align: center;
}

.product_quantity_select {
  border: none;
  background: none;
}

.label_select {
  border: 1px solid lightgrey;
  border-radius: 19px;
  padding: 3px;
  background: #fbfdff;
  box-shadow: 0 2px 5px 0 rgba(113, 112, 112, 0.5);
  cursor: pointer;
}

.label_select:hover {
  background: #e3e6e6;
}

#customer_reviews_div {
  border-bottom: 1px solid lightgrey;
  height: 310px;
}

#create_review_box {
  padding-right: 25px;
}

.profile_box {
  display: flex;
  align-items: center;
  padding: 8px;
}
