#product_page_content_container {
  display: flex;
  justify-content: center;
}
#ppd_top_section {
  display: inline-flex;
  padding: 50px 50px 10px 10px;
  min-width: 968px;
  max-width: 1468px;
  min-height: 968px;
}

#ppd_left_box, #ppd_center_column, #ppd_right_box {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

#ppd_right_box {
  border: 1px solid lightgrey;
  border-radius: 8px;
  min-width: 200px;
}

.ppd_title_sub_box {
  padding-bottom: 40px;
  border-bottom: 1px solid lightgrey;
}

.ppd_price_sub_box {
  border-bottom: 1px solid lightgrey;
}

.ppd_desc_sub_box {
  padding: 10px;
  border-top: 1px solid lightgrey;
}

/* .ppd_desc_sub_box::before {
  border-top: 1px solid lightgrey;
} */

#bttn-cartadd {
  width: 200px;
}
