#order_container {
  display: flex;
  flex-direction: column;
}

#order_content {
  display: flex;
  justify-content: center;
}


.order_item_details_banner {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  height: 68px;
  background-color: #F0F2F2 !important;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

#your_orders_text {
  display: flex;
  justify-content: center;
  width: 100%;
}

#order_item {
  width: 968px;
  border: 1px #D5D9D9 solid;
  border-radius: 10px;
}

#order_product_title {
  padding-left: 25px;
  width: 553px;
  min-height: 36px;
  font-size: 14px;
}
.product_link {
  display: flex;
  text-decoration: none;
  color: #007185;
}

.product_link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #C7511F;
}

.product_ {
  width: 100px;
}

.buy_again_div {
  position: relative;
  max-height: 22px;
  margin-left: 125px;
  bottom: 60px;
}


.buy_again_bttn {
  background: #FFF;
  border-radius: 3px;
  border: 1px solid #D5D9D9;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
  height: 29px;
  width: 121px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 29px;
}

.buy_again_bttn:hover {
  background-color: #F7FAFA;
  border-color: #D5D9D9;
}

.buy_again_span {
  text-decoration: none;
  background-color: transparent;
  border: 0;
  /* display: block; */
  font-size: 13px;
  line-height: 29px;
  margin: 0;
  position: relative;
  bottom: 8px;
  outline: 0;
  padding: 0 10px 0 10px;
  white-space: nowrap;
}

.bttn_img {
  padding-left: 4px;
}

.confirmation_box {
  display: flex;
  justify-content: center;

}

.confirmation_main_actions {

  width: 968px;
  height: 368px;
  border-top: 25px solid #f0c14b;
  border-bottom: 1px solid #f0c14b;
  border-left: 1px solid #f0c14b;
  border-right: 1px solid #f0c14b;
  border-radius: 10px;
  padding: 25px;
  background-color: #f7d57f31;

}

.confirmation_options {
  padding: 20px;
  margin-top: 20px;

}

.c_option {
  position: relative;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 10px;
  border: none;
  background-image: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-radius: 10px;
  text-decoration: none;
  color: black;

}

.c_option:hover {
  background-image: linear-gradient(to bottom, #f7dfa5, #e6ae5a);
}

.confirmation_options > a {
  text-decoration: none;
  z-index: 101;
  position: relative;
}

.delete_controls {
  text-decoration: none;
  margin-top: 25px;
}

.delete_no {
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 10px;
  border: none;
  background-image: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-radius: 10px;

}

.delete_no > a {
  text-decoration: none;
}

.delete_yes {
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 10px;
  border: none;
  background-image: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-radius: 10px;
}

#order_status_text >h2 {
  margin-left: 15px;
  color: #007600 !important;
}

.order_items_body {
  display: flex;
  padding: 5px;
  padding-left: 50px;
}

.order_items_active {
  width: 100%;
}

.delete_link_box {
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

#order_cancel_bttn {
  background: #FFD814;
  display: block;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 26px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  padding-top: 6px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(113, 112, 112, 0.5);
  cursor: pointer;
  text-align: center;
}



.delete_order_link {
  text-decoration: none;
  color: black;
  height: 26px;
}

#order_cancel_bttn:hover {
  background: #F7CA00;
  border-color: #F2C200;
  /* box-shadow: 0 2px 5px 0 rgba(213,217,217,.5); */
}

#order_item_qty {
  position: relative;
  left: 15px;
  bottom: 5px;
}

.confirm_order_img {
  position: relative;
  bottom: 136px;
  z-index: 100;
}

#more_items_text {
  position: relative;
  top: 1px;
  left: 20px;
  z-index: 10;
}

#more_products_carousel {
  position: relative;
  padding-top: 150px;
  left: 150px;
  z-index: 10;
}
