/* #customer_reviews_div {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: 300;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
} */

/* .review-content-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 50px;
} */

.edit_review_link, .delete_review_link {
  text-decoration: none;
  height: 22px;
  width: 87px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
  background: #FFF;
/* border-radius: 3px; */
  border-color: #D5D9D9;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin: 5px;
  text-align: center;
  text-decoration: none !important;
  color: black;
  vertical-align: middle;
}

.edit_review_link:hover, .delete_review_link:hover {
  background-color: #F7FAFA;
  border-color: #D5D9D9;
}

.rev_edit_span, .rev_delete_span {
  height: 20px !important;
  text-align: center;
  font-size: 11px;
  line-height: 20px;
}

.review-box {
  width: 680px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  padding-bottom: 40px;
}

.profile_box {
  display: flex;
  align-items: center;
  height: 50px;
}

.profile_img_link {
  padding-right: 12px;
}

.rating_container_ppd {
  display: flex;
  align-items: center;
  z-index: 1;
}

.set_rating_stars {
  position: relative;
  padding-right: 10px;
  padding-bottom: 4px;
  z-index: 1;
}

#review_title  {
  padding-right: 10px;
  padding-top: 6px;
  font-weight: 600;
}

#review_location_date {
  padding-right: 10px;
  padding-top: 4px;
  color: #666969;
}

#verified {
  color: #c45500 !important;
}

#review_content {
  padding-top: 15px;
}

.review_owner_controls {
  width: 200px;
  padding-top: 10px;
  position:relative;
  right: 6px;
}

#top_reviews_h {
  position: relative;
  right: 6px;
  bottom: 10px;
}
